<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {title: "Учётная запись"}); %>
  </head>
  <body>
    <div class="content">
      <%- include('../partials/header'); %>

      <ul class="breadcrumbs">
        <li><a href="/">Главная страница</a></li>
        <li><a href="#">Учётная запись</a></li>
      </ul>
      <div class="flex flex-responsive">
        <div class="flex-grow">
          <h2>Собственные рецепты</h2>
          <ul>
            <% userRecipes.forEach((recipe) => { %>
            <li class="card flex flex-column">
              <div>
                <div class="flex align-flex-end justify-flex-start">
                  <h2>
                    <a href="/recipes/<%= recipe.slug %>"><%= recipe.name %></a>
                  </h2>
                  <h3><%= recipe.createdAt.toLocaleString() %></h3>
                </div>

                <p class="line-clamp line-clamp-1"><%= recipe.description %></p>
                <div class="buttons-responsive">
                  <a
                    href="/recipes/<%= recipe.slug %>/edit"
                    data-recipe="<%= recipe.slug %>"
                    class="btn bg-yellow edit-recipe"
                  >
                    <span class="icon icon--edit"></span>Редактировать
                  </a>
                  <button
                    data-recipe="<%= recipe.slug %>"
                    class="bg-orange delete-recipe"
                  >
                    <span class="icon icon--cross"></span>Удалить
                  </button>
                </div>
              </div>
            </li>
            <% })%>
          </ul>
          <a href="/createRecipe" class="btn bg-green">
            <span class="icon icon--plus"></span>Создать новый рецепт
          </a>
          <% if (bookmarks.length > 0) { %>
          <div class="divider"></div>
          <h2>Рецепты в закладках</h2>
          <ul>
            <% bookmarks.forEach((bookmark, i) => { %>
            <li class="card flex flex-column">
              <div>
                <div class="flex align-flex-end justify-space-between">
                  <h2>
                    <a href="/recipes/<%= bookmark.recipe.slug %>"
                      ><%= bookmark.recipe.name %></a
                    >
                  </h2>
                  <div class="buttons-responsive">
                    <button
                      data-id="<%= bookmark._id %>"
                      class="bg-orange delete-bookmark"
                    >
                      <span class="icon icon--cross"></span>Убрать из закладок
                    </button>
                  </div>
                </div>

                <p class="line-clamp line-clamp-1">
                  <%= bookmark.recipe.description %>
                </p>
              </div>
            </li>
            <% })%>
          </ul>
          <% } %>
        </div>
        <div>
          <button class="bg-orange logout-btn">
            <span class="icon icon--cross"></span>Выйти из учётной записи
          </button>
          <div class="divider"></div>
          <h2>Настройки учётной записи</h2>
          <form class="form-user-data">
            <h3>Имя:</h3>
            <input type="text" id="name" value="<%= locals.user.name %>" />
            <h3>Электронная почта:</h3>
            <input type="email" id="email" value="<%= locals.user.email %>" />
            <h3>Фотография:</h3>
            <img
              src="/img/users/<%= locals.user.photo %>"
              alt=""
              class="avatar"
            />
            <input
              type="file"
              accept="image/*"
              id="photo"
              name="photo"
              class="file-upload-input"
            />

            <button type="submit" class="bg-green flex">
              <span class="icon icon--checkmark"></span>Сохранить
            </button>
          </form>

          <div class="divider"></div>

          <h2>Сменить пароль</h2>
          <form class="form-user-password">
            <h3>Текущий пароль:</h3>
            <input type="password" id="password-current" />
            <h3>Новый пароль:</h3>
            <input type="password" id="password-new" />
            <h3>Подтверждение нового пароля:</h3>
            <input type="password" id="password-new-confirm" />
            <button type="submit" class="bg-yellow flex">
              <span class="icon icon--difficulty"></span>Сменить
            </button>
          </form>

          <div class="divider"></div>

          <button class="bg-orange delete-user">
            <span class="icon icon--cross"></span>Удалить учётную запись
          </button>
        </div>
      </div>
      <div class="divider"></div>
      <% if (locals.user.role === "admin") {%>
      <a href="/administration" type="submit" class="btn bg-orange flex">
        <span class="icon icon--difficulty"></span>Администрирование
      </a>
      <% } %>
    </div>
    <%- include('../partials/footer'); %> <%- include('../partials/modal'); %>
  </body>
</html>
