<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {title: `${recipe.name} - Рецепт` }); %>
  </head>
  <body>
    <div class="content">
      <%- include('../partials/header'); %>

      <ul class="breadcrumbs">
        <li><a href="/">Главная страница</a></li>
        <li><a href="/recipes">Рецепты</a></li>
        <li><a href="/recipes?dishType=<%= recipe.dishType %>"><%= recipe.dishType %></a></li>
        <li><a href="/recipes?category=<%= recipe.category %>"><%= recipe.category %></a></li>
        <% if (recipe.subcategory) {%>
            <li><a href="/recipes?subcategory=<%= recipe.subcategory %>"><%= recipe.subcategory %></a></li>
          <% } %>
        <li><a href="#"><%= recipe.name %></a></li>
      </ul>
      <section>
        <div class="flex justify-flex-start flex-responsive">
          <% if (recipe.image) {%>
          <img class="main-image modal-image" crossorigin="anonymous" src="<%= recipe.image %>" alt="" />
          <% } %>
          <div class="flex flex-column">
            <h1><%= recipe.name %></h1>
            <p>
              <%- recipe.description.replaceAll("\n", '<br/>') %>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div
          class="flex justify-space-between align-flex-start flex-responsive"
        >
          <ul class="card ingredients">
            <h2>ИНГРЕДИЕНТЫ:</h2>
            <% recipe.ingredients.forEach((ingredient) => { %>
            <li>
              <p><%= ingredient.name %></p>
              <span class="divider"></span>
              <p><%= ingredient.amount %></p>
            </li>
            <% }) %>
          </ul>
          <div class="flex flex-column align-flex-start recipe-properties">
            <% recipe.properties.forEach((property, i) => { %>
            <div class="card bg-<%= new Array("green", "yellow", "orange").at(i % 3) %> flex flex-column align-flex-end">
              <div class="flex align-center">
                <% if (property.type === "time") {%>
                  <span class="icon icon--time"></span>
                  <h3>Время готовки:</h3>
                <% } %>
                <% if (property.type === "servings") {%>
                  <span class="icon icon--serving"></span>
                  <h3>Количество порций:</h3>
                <% } %>
                <% if (property.type === "difficulty") {%>
                  <span class="icon icon--difficulty"></span>
                  <h3>Сложность:</h3>
                <% } %>
              </div>
              <h2><%= property.value %></h2>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
      <section>
        <ul class="list-narrow">
          <h2>ПОШАГОВЫЙ РЕЦЕПТ:</h2>
          <% recipe.steps.sort((a, b) => { return a.number - b.number;
          }).forEach((step) => { %>
          <li class="flex flex-responsive">
            <% if (step.image) {%>
            <img
              class="recipe-step-image modal-image"
              crossorigin="anonymous"
              src="<%= step.image %>"
              alt=""
            />
            <% } %>
            <div class="flex flex-column flex-grow">
              <h2>ШАГ <%= step.number %>:</h2>
              <div class="card flex-grow">
                <p>
                  <%- step.text.replaceAll("\n", '<br/>') %>
                </p>
              </div>
            </div>
          </li>
          <% }) %>
          <h2 class="appetit">Приятного аппетита!</h2>
        </ul>
      </section>
      <section>
        <h3>КЛЮЧЕВЫЕ СЛОВА:</h3>
        <ul class="tags">
          <% recipe.tags.forEach((tag) => { %>
          <li><a href="/recipes?search=<%= tag.replaceAll(" ", "+") %>"><%= tag %></a></li>
          <% }) %>
        </ul>
        <div class="flex justify-space-between flex-responsive">
          <div class="flex u-justify-center buttons-responsive">
            <a class="btn bg-yellow share-btn"
              ><span class="icon icon--share "></span>Поделиться</a
            >
          </div>
          <div class="flex u-justify-center buttons-responsive">
            <a class="btn bg-green bookmark-btn" data-id="<%= recipe._id %>"
              ><span class="icon icon--bookmark" ></span>В закладки</a
            >
            <a class="btn bg-yellow print-btn"
              ><span class="icon icon--print"></span>Распечатать</a
            >
          </div>
        </div>
        <div class="divider"></div>
      </section>
      <section>
        <ul class="list-narrow">
          <h2>КОММЕНТАРИИ:</h2>
          <% recipe.comments.forEach((comment) => { %>
          <li class="flex justify-space-between">
            <div class="card flex-grow">
              <div class="flex align-center justify-flex-start">
                <img src="<%= comment.user.photo %>" crossorigin="anonymous" alt="" class="avatar" />
                <h2><%= comment.user.name %></h2>
                <h3><%= comment.createdAt.toLocaleString() %></h3>
              </div>
              <p>
                <%= comment.text %>
              </p>
            </div>
          </li>
          <% }) %>
          <% if (locals.user) { %>
            <div class="divider"></div>
            <h2>НАПИСАТЬ КОММЕНТАРИЙ:</h2>
              <textarea
                class="flex-grow comment-text"
                
                id=""
                rows="5"
              ></textarea>
            <div class="flex justify-flex-end">
              <button data-recipe="<%= recipe.slug %>" class="bg-green send-comment"><span class="icon icon--comment"></span>Отправить комментарий</button>
            </div>
            <% } %>
        </ul>
        <div class="divider"></div>
      </section>
      <section>
        <ul class="list-narrow">
          <% if (similarRecipes.length > 0) { %>
            <h2>ПОХОЖИЕ РЕЦЕПТЫ:</h2>
            <% similarRecipes.forEach((similarRecipe) => { %>
              <li class="flex justify-space-between flex-responsive">
                <%- include('../partials/recipe-card', {recipe: similarRecipe}); %>
              </li>
              <% }) %>
              <div class="divider"></div>
              <% } %>
        </ul>
      </section>
    </div>
    <%- include('../partials/footer'); %> <%- include('../partials/modal'); %>
  </body>
</html>
